<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script data-main="main" src="lib/requirejs/require.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-14">
                    <div class="col-lg-16">
                        <p class="bg-primary">
                            <img src="img/logo.png">
                        </p>
                    </div>
                    <div class="col-lg-16">
                        <h1>Gestor de opiniones</h1>
                    </div>
            </div>
        </div>

        <div class="row">
            <div class="well well-lg">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="course-to-search" name="idBusqueda" placeholder="Id búsqueda">
                        </div>
                    </div>

                    <button type="button" class="btn btn-primary" id="searchByCourse">Buscar</button>
                </form>
            </div>
        </div>

        <section id="filters">

        </section>

        <section id="opinionsApp">

            <section id="main">

            </section>
        </section>
    </div>
</body>

<script type="text/template" id="template-filters">
    <div class="row">
        <div class="col-md-6">
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default active">
                    <input type="radio" name="options" id="inlineRadio1" autocomplete="off"> Todas
                </label>
                <label class="btn btn-default">
                    <input type="radio" name="options" id="inlineRadio2" autocomplete="off"> Válidas
                </label>
                <label class="btn btn-default">
                    <input type="radio" name="options" id="inlineRadio3" autocomplete="off"> Inválidas
                </label>
            </div>
        </div>
    </div>
    <br/>
</script>

<script type="text/template" id="template-main">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Opinión</h3>
                </div>
                <div class="panel-body"  id="single-opinion-view">
                    <label class="col-sm-2 control-label">Nombre</label>
                    <div class="col-sm-10">
                        <p class="form-control-static"><%= _nombre %></p>
                    </div>

                    <label class="col-sm-2 control-label">Apellidos</label>
                    <div class="col-sm-10">
                        <p class="form-control-static"><%= _apellidos %></p>
                    </div>

                    <label class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <p class="form-control-static"><%= _email %></p>
                    </div>

                    <label class="col-sm-2 control-label">Estado</label>
                    <div class="col-sm-10">
                        <p class="form-control-static"><%= _status %></p>
                    </div>

                    <label class="col-sm-2 control-label">Lo mejor</label>
                    <div class="col-sm-10" style="margin-bottom: 5px">
                        <textarea class="form-control" rows="3"  id="mejor_<%= id %>"><%= _mejor %></textarea>
                    </div>

                    <label class="col-sm-2 control-label">Lo peor</label>
                    <div class="col-sm-10" style="margin-bottom: 5px">
                        <textarea class="form-control" rows="3" id="peor_<%= id %>"><%= _peor %></textarea>
                    </div>

                    <label class="col-sm-2 control-label">Cuerpo</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="3" id="cuerpo_<%= id %>"><%= _cuerpo %></textarea>
                    </div>

                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        &nbsp;
                    </div>

                    <button type="button" class="btn btn-success" id="validar-opinion" data-idopinion="<%= id %>">Validar</button>
                    <button type="button" class="btn btn-danger" id="invalidar-opinion" data-idopinion="<%= id %>">Invalidar</button>
                    <button type="button" class="btn btn-primary" id="save-opinion" data-idopinion="<%= id %>">Guardar</button>

                </div>

            </div>
        </div>
    </div>
</script>
</html>


